doctype html
html(lang="en", ng-app="app")
    block vars
    include includes/head
    body
        include includes/navbar-top
        div(class='row')
            include includes/navbar-side
            include includes/content
        include includes/footer