head
    title= title
    link(rel="stylesheet", href='/lib/bootstrap/dist/css/bootstrap.min.css')
    link(rel="stylesheet", href='/lib/bootstrap/dist/css/bootstrap-theme.min.css')
    link(rel="stylesheet", href='/lib/nvd3/nv.d3.css')
    //link(rel="stylesheet", href='/css/dc.css')
    link(rel="stylesheet", href='/css/dashboard.css')
    block head-extra