// left side bar
div(id='navbar-side', class='col-sm-3 col-md-2 sidebar')
    ul(class='nav nav-sidebar')
        li: a(href='/overview') Overview
        li: a(href='/test') Test
        li: a(href='/report') Reports
        li: a(href='/real-time') Real-time
        li: a(href='/usage') Usage
        li: a(data-toggle='dropdown', href='#') Other
            ul(class='dropdown-menu', role='menu')
                li: a(href='#') Account
                li: a(href='#') Help
